<div class="container">
	<div class="row justify-content-center  align-items-center">
		<% count=0 %>
		<%  @stores.each do |store| %>
	<% if (count%4) == 0 %>
	</div>
	<br/><br/><br/>
	<div class="row justify-content-center  align-items-center">
	<%end%>
	<% count+=1%>
	
	<div class="col col-sm-3 col-md-3">

		<div class="card" style="min-height:590px;">
			<%= image_tag(store.product_image ,height:"300px",width:"50px", class:"card-img-top") %>
			
			<div class="card-body">
				<big class="card-title"><%=store.product_name%></big>
				<h4 class="card-text"><%=store.configuration%></h4>
				<br/>
				<p class="card-text text-danger"><strike>&#8377;<%=store.mrp%></strike></p>
				<h3 class="card-text text-warning">&#8377;<%=store.sell_price%></h3>
			
			</div>
			
			<div class="card-body">
			<%= button_to 'Add to Cart', cart_items_path(:store_id => store.id), class:"btn btn-warning",style:"color:white" %> 
			
			</div>
		</div>
	</div>
	
<% end %>
</div>